@font-face {
    font-family: 'Bauhaus';
    src: url('./assets/fonts/BauhausRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Bauhaus' , sans-serif;
}